<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>All answers {{ indoc }}</h1>
    <h3>USAGE</h3>
    <dl>
      <dt>Download</dt>
        <dd>- click on the button <button type="button" class="btn btn-danger btn-xs">PDF</button></dd>
      <dt>Show question and answer</dt>
        <dd>- click on the row</dd>
    </dl>
  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Casenumber</th>
        <th>Court number</th>
        <th>Your name</th>
        <th>Child</th>
        <th>Spuse name</th>
        <th>County</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody>
    {% for item in allAnswer %}
      <tr data-toggle="collapse" data-target="#collapseId{{ item.case_number }}" aria-expanded="false" aria-controls="collapseExample">
        <td>{{ item.case_number }}</td>
        <td>{{ item.court_number }}</td>
        <td>{{ item.person_name }}</td>
        <td>
        {% for value in item.answer_key.all %}
        {{ value.name }} </br>
        {% endfor %}
        </td>
        <td>{{ item.spuse_name }}</td>
        <td>{{ item.county }}</td>
        <td><a type="button" href="{{ item.url }}" target="_blank" class="btn btn-danger">PDF</a></td>
      </tr>
      <tr class="collapse" id="collapseId{{ item.case_number }}" colspan="7">
        <td><b>Question</b></td>
        <td colspan="2">{{ item.question_name }}</td>
        <td><b>Answer:</b></td>
        <td colspan="3">{{ item.value }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<ul>
</ul>
</body>
</html>
